@font-face {
  font-family: 'norsebold';
  src: url('../fonts/norse-bold-webfont.woff2') format('woff2'),
    url('../fonts/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
}

.column-left {
  /* width: 30svw; */
  flex-grow: 1;
  background-image: url('../img/halie-west-25xggax4bSA-unsplash.jpg');
  background-color: #cccccc;
  height: 100svh;
  background-size: cover;
  font-size: 1rem;
}

.column-right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  gap: 50px;
  background-color: rgb(249, 250, 251);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 16px 0;
  height: 15svh;
  position: relative;
  top: 30svh;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.logo-text {
  font-family: 'norsebold';
  font-size: 6rem;
}

.logo-text,
.credits,
.credits a {
  color: #fff;
}

.credits {
  width: 30svw;
  text-align: center;
  position: absolute;
  bottom: 15px;
}

.dummy-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 1.5rem;
}

.dummy-text p {
  line-height: 1.8rem;
}

.form-container {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-auto-rows: 70px;
  align-items: center;
  align-content: center;
  height: 20svh;
  background-color: #fff;
  margin-bottom: 50px;
  font-size: 0.8rem;
  color: #555555;
  box-shadow: 0 6px 6px rgb(214, 214, 214);
  padding-bottom: 20px;
}

.title-container {
  background-color: #fff;
  font-size: 1.5rem;
  padding-top: 20px;
  color: #555555;
}

p,
form > div {
  padding-left: 50px;
}

.form-container div {
  letter-spacing: 0.1rem;
  font-weight: 500px;
}

.input input[type='text'],
.input input[type='email'],
.input input[type='tel'],
.input input[type='password'] {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #e5e7eb;
  padding: 7px;
  font-size: 14px;
}

.input input[type='text']:invalid,
.input input[type='email']:invalid,
.input input[type='password']:invalid {
  border: 1px solid #d55c5f;
  color: #d55c5f;
  box-shadow: none;
}

.input input[type='text']:focus,
.input input[type='email']:focus,
.input input[type='tel']:focus,
.input input[type='password']:focus {
  outline: none;
  border: 1px solid rgb(98, 142, 253);
  box-shadow: 5px 5px 5px rgb(231, 231, 231);
}

button {
  width: 235px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #596d48;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
}

button:hover {
  background-color: rgba(89, 109, 72, 0.5);
}

.text-login {
  font-size: 1.1rem;
  color: #555555;
}

.text-login a {
  text-decoration: none;
  color: rgb(89, 109, 72);
  font-weight: 700;
}
